<main class="p-6 flex-1 overflow-y-auto">
  @if (isLoading$ | async) {
  <div class="flex items-center mb-4">
    <svg
      class="animate-spin mr-3 h-5 w-5 text-blue-600"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
      ></circle>
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"
      ></path>
    </svg>
    <span>Carregando...</span>
  </div>
  }

  <h2 class="text-2xl font-bold mb-6 flex">Dashboard de Vendas</h2>
  <p>
    <strong>Faturamento Total: R$ {{ totalRevenue }}</strong>
  </p>

  <div
    class="bg-gray-200 h-[400px] w-[400px] mt-4 flex flex-col items-center justify-center border-2 border-gray-900 rounded-xl p-2"
  >
    <h3 class="text-lg font-semibold">Categorias</h3>
    <canvas #doughnutCanvas></canvas>
  </div>
</main>
