<main class="p-6 flex-1 overflow-y-auto flex flex-col items-center">
  @if (isLoading$ | async) {
  <div class="flex items-center mb-4">
    <svg
      class="animate-spin mr-3 h-5 w-5 text-blue-600"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
      ></circle>
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"
      ></path>
    </svg>
    <span>Carregando...</span>
  </div>
  }

  <p class="text-center mb-4">
    <strong>Faturamento Total: R$ {{ totalSales }}</strong>
  </p>

  <div
    class="w-full flex flex-col md:flex-row md:space-x-2 space-y-4 md:space-y-0 items-center justify-center"
  >
    <app-total-sales
      class="w-full md:w-1/2"
      (totalSalesChange)="onTotalSalesChange($event)"
      (titleChange)="onTitleChange($event)"
    ></app-total-sales>

    <app-profit
      class="w-full md:w-1/2"
      (profitChange)="onProfitChange($event)"
      (titleChange)="onTitleChange($event)"
    ></app-profit>

    <app-average-ticket></app-average-ticket>

    <app-monthly-grownth></app-monthly-grownth>
  </div>
</main>
